@{
    ViewBag.Title = "Welcome to Facebook!";
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome, @ViewBag.Name!</h1>
        <p>Your email: @ViewBag.Email</p>
        <p>We are happy to have you join us!</p>
        <p><a href="/Home/Logout" class="btn btn-primary btn-lg">Logout</a></p>
    </div>
</div>
